<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text=" " defaultHref="/tabs/chats"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Profilo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list [inset]="true">
    <div class="ion-text-wrap">
      <ion-item class="description-item" [style.margin-bottom]="'1em'">
        <ion-avatar class="bigger-avatar">
          <!-- Use ngIf to conditionally show the image or the default avatar -->
          <ng-container *ngIf="customer?.profilePicture; else showDefaultAvatar">
            <img [src]="customer?.profilePicture" alt="User's profile picture" [style.border-radius]="'100%'" [style.max-width]="'100%'"/>
          </ng-container>
          <ng-template #showDefaultAvatar>
            <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
          </ng-template>
        </ion-avatar>
      </ion-item>
    </div>


      <ion-row class="ion-align-items-center ion-justify-content-center">
        <ion-col>
          <ion-label class="title-label">
            <h2>Info Assistito</h2>
          </ion-label>
        </ion-col>
      </ion-row>
    <ion-item>
      <ion-icon aria-hidden="true" name="person-circle-outline" slot="start" color="primary"></ion-icon>
      <ion-label class="scroll-text">
        {{customer?.elderFirstName}} {{customer?.elderLastName}}
      </ion-label>
    </ion-item>
    <ion-item clickable (click)="callElderNumber()">
      <ion-icon aria-hidden="true" name="call" slot="start" color="primary"></ion-icon>
      <ion-label>
        {{ customer?.phoneNumber }}
      </ion-label>
    </ion-item>
    
    <ion-item>
      <ion-icon aria-hidden="true" name="home" slot="start" color="primary"></ion-icon>
      <ion-label class="scroll-text">
        {{customer?.elderAddress?.street}} {{customer?.elderAddress?.streetNumber}}, {{customer?.elderAddress?.city}}
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-icon aria-hidden="true" name="calendar-outline" slot="start" color="primary"></ion-icon>
      <ion-label class="scroll-text">
        {{customer?.elderAge}} anni
      </ion-label>
    </ion-item>
    <ion-item *ngIf="customer?.gender !== undefined" [style.margin-bottom]="'1em'">
      <ion-icon aria-hidden="true" name="{{checkGenderIcon()}}" slot="start" color="primary"></ion-icon>
      <ion-label class="scroll-text">
        {{ checkGender() }}
      </ion-label>
    </ion-item>  


    <ion-row class="ion-align-items-center ion-justify-content-center" *ngIf="customer?.elderDescription !== ''">
      <ion-col>
        <ion-label class="title-label">
          <h2>Descrizione Assistito</h2>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-item lines="none" class="ion-text-wrap" [style.margin-top]="'1em'" [style.margin-bottom]="'1.5em'" *ngIf="customer?.elderDescription !== ''">
      {{customer?.elderDescription}}
    </ion-item>

    
  <ion-row class="ion-align-items-center ion-justify-content-center" *ngIf="!customer?.isElder">
    <ion-col>
      <ion-label class="title-label">
        <h2>Info Tutore</h2>
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-item *ngIf="!customer?.isElder">
    <ion-icon aria-hidden="true" name="person-circle-outline" slot="start" color="primary"></ion-icon>
    <ion-label class="scroll-text">
      {{customer?.firstName}} {{customer?.lastName}}
    </ion-label>
  </ion-item>
  <ion-item clickable (click)="callNumber()" *ngIf="!customer?.isElder" lines="inset">
    <ion-icon aria-hidden="true" name="call" slot="start" color="primary"></ion-icon>
    <ion-label>
      {{ '+39 ' + customer?.phoneNumber?.slice(0, 3) + ' ' + customer?.phoneNumber?.slice(3, 6) + ' ' + customer?.phoneNumber?.slice(6, 10) }}
    </ion-label>
  </ion-item>
  </ion-list>
</ion-content>
<ion-item>

