<ion-card>
    <ion-card-header class="header">
      <!-- Add (click) event binding to call onTitleClick method -->
      <ion-card-title class="title" (click)="router.navigate(['customer-details'])">{{reservation.elderFirstName}} {{reservation.elderLastName}}</ion-card-title>
    </ion-card-header>
  <ion-card-content>
    
    <ng-container *ngIf="reservation.isAtHome; else notAtHome">
      Domicilio
    </ng-container>

    <!-- Define the content to be displayed when isAtHome is false -->
    <ng-template #notAtHome>
      Studio
    </ng-template>
    <br>
    Il {{reservation.date}}, dalle {{reservation.startHour}} alle {{reservation.endHour}}
    <br>
    <ion-button>Accetta</ion-button> <ion-button>Rifiuta</ion-button>
  </ion-card-content>
</ion-card>
