.header {
    padding-left: 10px;
    padding-bottom: 5px;
}
  
.title{
padding-left: 10px;
/* Remove white-space: nowrap; */
overflow: hidden;
text-overflow: ellipsis;
max-width: 100%; /* Set a maximum width to allow the title to adapt */
}

.subtitle{
padding-left: 10px;
}

.md .title{
font-size: 1.75rem;
font-weight: 700;
}

.md .subtitle{
font-size: 0.75rem;
font-weight: 700;
}