<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="chats" href="/tabs/chats">
      <ion-icon aria-hidden="true" name="chatbox"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar" href="/tabs/calendar">
      <ion-icon aria-hidden="true" name="calendar-outline"></ion-icon>
      <ion-label>Calendario</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Profilo</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
