<div *ngIf="!editingProfile; then showDefault else showEditingSettings"></div>

<!-- Default profile page -->
<ng-template #showDefault>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-title>Profilo</ion-title>
      <ion-button slot="end" size="small" fill="none" (click)="toggleBoolean()">
        <ion-icon slot="icon-only" name="pencil-outline"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list [inset]="true">

      <div class="ion-text-wrap">
        <ion-item class="description-item" [style.margin-bottom]="'1em'">
          <gp-avatar height="150px" width="150px" [verified]="professionalLogged?.isVerified"
            [profilePicture]="professionalLogged?.profilePicture"></gp-avatar>
        </ion-item>
      </div>

      <ion-list-header>
        <ion-label class="title-label">
          Info Personali
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-icon aria-hidden="true" name="person-circle-outline" slot="start" color="primary"></ion-icon>
        <ion-label class="scroll-text">
          {{professionalLogged?.firstName}} {{professionalLogged?.lastName}}
        </ion-label>
      </ion-item>

      <ion-item *ngIf="professionalLogged?.gender !== undefined">
        <ion-icon aria-hidden="true" name="{{checkGenderIcon()}}" slot="start" color="primary"></ion-icon>
        <ion-label class="scroll-text">
          {{ checkGender() }}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon aria-hidden="true" name="card-outline" slot="start" color="primary"></ion-icon>
        <ion-label class="scroll-text">
          {{professionalLogged?.idCardNumber}}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon aria-hidden="true" name="calendar-outline" slot="start" color="primary"></ion-icon>
        <ion-label class="scroll-text">
          {{professionalLogged?.birthDate}}
        </ion-label>
      </ion-item>

      <!-- <ion-item>
        <ion-icon aria-hidden="true" name="mail-open-outline" slot="start" color="primary" ></ion-icon>
        <ion-label class="scroll-text">
          {{professionalLogged?.email}}
        </ion-label>
      </ion-item> -->

      <ion-item [style.margin-bottom]="'1em'">
        <ion-icon aria-hidden="true" name="call" slot="start" color="primary"></ion-icon>
        <ion-label>
          {{ professionalLogged?.phoneNumber }}
        </ion-label>
      </ion-item>

      <ion-list-header>
        <ion-label class="title-label">
          Info Lavorative
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-icon aria-hidden="true" name="medical-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          {{getProfession(professionalLogged?.profession)}}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon aria-hidden="true" name="location-outline" slot="start" color="primary"></ion-icon>
        <ion-label *ngIf="professionalLogged?.address !== undefined" class="scroll-text">
          {{professionalLogged?.address?.street}} {{professionalLogged?.address?.streetNumber}},
          {{professionalLogged?.address?.city}}
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon aria-hidden="true" name="locate-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          {{professionalLogged?.maxDistance}} Km
        </ion-label>
      </ion-item>

      <ion-item>
        <ion-icon aria-hidden="true" name="wallet-outline" slot="start" color="primary"></ion-icon>
        <ion-label>
          {{professionalLogged?.hourlyRate}} €/h
        </ion-label>
      </ion-item>

      <ion-item *ngIf="professionalLogged?.longTimeJob === true">
        <ion-icon aria-hidden="true" name="checkmark-outline" slot="start" style="color: green"></ion-icon>
        <ion-label>
          Lavoro a lungo termine: SI
        </ion-label>
      </ion-item>
      <ion-item *ngIf="professionalLogged?.longTimeJob === false">
        <ion-icon aria-hidden="true" name="close-outline" slot="start" style="color: red"></ion-icon>
        <ion-label>
          Lavoro a lungo termine: NO
        </ion-label>
      </ion-item>
      <ion-item *ngIf="professionalLogged?.shortTimeJob === true">
        <ion-icon aria-hidden="true" name="checkmark-outline" slot="start" style="color: green"></ion-icon>
        <ion-label>
          Lavoro saltuario: SI
        </ion-label>
      </ion-item>
      <ion-item *ngIf="professionalLogged?.shortTimeJob === false">
        <ion-icon aria-hidden="true" name="close-outline" slot="start" style="color: red"></ion-icon>
        <ion-label>
          Lavoro a saltuario: NO
        </ion-label>
      </ion-item>

      <ion-list-header *ngIf="professionalLogged?.description !== ''">
        <ion-label class="title-label">
          Descrizione
        </ion-label>
      </ion-list-header>

      <ion-item lines="none" class="ion-text-wrap" [style.margin-top]="'0.5em'" [style.margin-bottom]="'0.5em'"
        *ngIf="professionalLogged?.description !== ''">
        {{professionalLogged?.description}}
      </ion-item>
    </ion-list>

    <gp-availability-selector [editable]="false" [timeSlots]="professionalLogged?.timeTable?.timeSlots || []"></gp-availability-selector>
  </ion-content>
</ng-template>

<!-- Editable profile page -->
<ng-template #showEditingSettings>

  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-button slot="start" fill="none" href="/modify-profile">
        <ion-icon name="close-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="none" (click)="submitChanges()">
        <ion-icon name="checkmark-outline" slot="icon-only"></ion-icon>
      </ion-button>
      <ion-title>Modifica profilo</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content color="light">

    <ion-list [inset]="true" class="image-list-inset">
      <!-- Modify Picture -->
      <gp-image-selector [picture]="professionalLogged?.profilePicture"
        (profilePicture)="professionalLogged!.profilePicture = $event"></gp-image-selector>
    </ion-list>

    <ion-list [inset]="true">
      <ion-list-header>
        <ion-label class="title-label">
          Info Personali
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-input label="Nome" label-placement="floating" type="text" [(ngModel)]="professionalLogged!.firstName"
          required></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Cognome" label-placement="floating" type="text" [(ngModel)]="professionalLogged!.lastName"
          required></ion-input>
      </ion-item>

      <ion-item>
        <ion-select label="Sesso" labelPlacement="floating" [(ngModel)]="professionalLogged!.gender" required>
          <ion-select-option [value]="0">Uomo</ion-select-option>
          <ion-select-option [value]="1">Donna</ion-select-option>
          <ion-select-option [value]="2">Altro</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-input label="Carta d'identità" label-placement="floating" [maskito]="cardMask"
          [maskitoElement]="maskPredicate" [(ngModel)]="professionalLogged!.idCardNumber" required></ion-input>
      </ion-item>

      <!--Select Birthdate-->
      <gp-birthdate-selector [(birthdate)]="professionalLogged!.birthDate"></gp-birthdate-selector>

      <!--
     <ion-item>
      <ion-input label="Email" label-placement="floating" [(ngModel)]="customerLogged?.email" required
        email></ion-input>
    </ion-item> -->

      <ion-item>
        <ion-input label="Cellulare" [maskito]="phoneMask" [maskitoElement]="maskPredicate"
          placeholder="+39 xxx xxx xxxx" label-placement="floating" [(ngModel)]="professionalLogged!.phoneNumber"
          required>
        </ion-input>
      </ion-item>
    </ion-list>

    <ion-list [inset]="true">
      <ion-list-header>
        <ion-label class="title-label">
          Info Lavorative
        </ion-label>
      </ion-list-header>

      <ion-item>
        <ion-select label="Professione" labelPlacement="floating" [(ngModel)]="professionalLogged!.profession" required>
          <ion-select-option [value]="0">Medico</ion-select-option>
          <ion-select-option [value]="1">Infermiere</ion-select-option>
          <ion-select-option [value]="2">Fisioterapista</ion-select-option>
          <ion-select-option [value]="3">Badante</ion-select-option>
          <ion-select-option [value]="4">Altro</ion-select-option>
        </ion-select>
      </ion-item>

      <!--Select Address-->
      <gp-address-selector [(address)]="professionalLogged!.address!"></gp-address-selector>

      <ion-item>
        <ion-input label="Raggio d'azione" label-placement="floating" [maskito]="numbersMask"
          [maskitoElement]="maskPredicate" placeholder="Es. 2 Km"
          [(ngModel)]="professionalLogged!.maxDistance"></ion-input>
        <!-- Add KM suffix at the end -->
        <span class="suffix" slot="end">Km</span>
      </ion-item>

      <ion-item>
        <ion-input label="Costi del servizio" label-placement="floating" [maskito]="numbersMask"
          [maskitoElement]="maskPredicate" placeholder="Es. 20 €/h"
          [(ngModel)]="professionalLogged!.hourlyRate"></ion-input>
        <!-- Add €/h suffix at the end -->
        <span class="suffix" slot="end">€/h</span>
      </ion-item>

      <ion-item lines="none">
        <ion-label>Modalità di lavoro</ion-label>
      </ion-item>
      <ion-item class="custom-border">
        <ion-checkbox slot="start" labelPlacement="end"
          [(ngModel)]="professionalLogged!.shortTimeJob">Saltuario</ion-checkbox>
        <ion-checkbox slot="end" [style.margin-right]="'20px'" labelPlacement="end"
          [(ngModel)]="professionalLogged!.longTimeJob">Lungo termine</ion-checkbox>
      </ion-item>
    </ion-list>

    <ion-list [inset]="true">
      <ion-list-header>
        <ion-label class="title-label">
          Descrizione
        </ion-label>
      </ion-list-header>

      <ion-item lines="none">
        <ion-textarea label="Descrizione" label-placement="floating" placeholder="Inserisci necessità particolari"
          type="text" [rows]="1" [autoGrow]="true" [(ngModel)]="professionalLogged!.description"
          maxlength="200"></ion-textarea>
      </ion-item>

    </ion-list>

    <ion-list [inset]="true">
      <ion-list-header>
        <ion-label class="title-label">
          Disponibilità
        </ion-label>
      </ion-list-header>

      <gp-availability-selector [editable]="true" [(timeSlots)]="professionalLogged!.timeTable!.timeSlots"></gp-availability-selector>

       <!--Weeks in Advance-->
       <ion-list-header>
        <ion-label class="title-label">
          Settimane disponibili
        </ion-label>
      </ion-list-header>

        <ion-item>
            <ion-range min="1" max="8" step="1" snaps="true" [(ngModel)]="professionalLogged!.timeTable!.weeksInAdvance">
                <ion-label slot="start">1</ion-label>
                <ion-label slot="end">8</ion-label>
            </ion-range>
        </ion-item>

    </ion-list>
  </ion-content>
</ng-template>